{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block 'content' %}
<h6>{% trans "update_restreamconfig_configuration_header" %}</h6>
<hr class="my-4">
<div class="row">
  <div class="col-sm border-right">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary" value="login">
          {% trans "submit" %}
        </button>
      {% endbuttons %}
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
  <div class="col-sm">
    {% trans "restreamconfig_configuration_text_html" %}
  </div>
</div>
{% endblock %}
