{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load font_awesome %}
{% load guardian_tags %}

{% get_obj_perms user for object as "obj_perms" %}

{% block 'content' %}
<div class="row  justify-content-between">
  <div class="col">
    <h6>{% trans "restreamconfig_configuration_details_header" %}</h6>
  </div>
  {% get_obj_perms user for object as "obj_perms" %}
  <div class="col-auto">
  {% if "change_restreamconfig" in obj_perms %}
  <a href="{% url 'restream:restreamconfig_change' pk=object.pk %}" type="button" class="btn btn-primary">{% fa 'pencil' %} {% trans 'change' %}</a>
  {% endif %}
  {% if "delete_restreamconfig" in obj_perms %}
  <a href="{% url 'restream:restreamconfig_delete' pk=object.pk %}" type="button" class="btn btn-danger">{% fa 'trash' %} {% trans 'delete' %}</a>
  {% endif %}
  </div>
</div>
<hr class="my-4">
<div class="row">
  <div class="col-sm border-right">
    <dl class="row">
      <dt class="col-sm-3">{% trans "name" %}</dt>
      <dd class="col-sm-9">{{ object.name }}</dd>
      <dt class="col-sm-3">{% trans "stream" %}</dt>
      <dd class="col-sm-9"><a href="{% url 'rtmp:stream_detail' pk=object.stream.pk %}">{{ object.stream.name }}</a></dd>
    </dl>
  </div>
  <div class="col-sm">
    <p>{% trans "configured_target_url" %}</p>
    <div class="input-group mb-4" id="show_hide_target_url">
      <input class="form-control" type="password" value="{{ object.target }}">
      <div class="input-group-append">
        <a href="" class="btn btn-outline-secondary"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  $(function() {
    $("#show_hide_target_url a").on('click', function(event) {
        event.preventDefault();
        if ($('#show_hide_target_url input').attr('type') == 'text') {
            $('#show_hide_target_url input').attr('type', 'password');
            $('#show_hide_target_url i').addClass('fa-eye-slash');
            $('#show_hide_target_url i').removeClass('fa-eye');
        } else if ($('#show_hide_target_url input').attr('type') == 'password') {
            $('#show_hide_target_url input').attr('type', 'text');
            $('#show_hide_target_url i').removeClass('fa-eye-slash');
            $('#show_hide_target_url i').addClass('fa-eye');
        }
    });
  });
</script>
{% endblock %}
