{% extends 'base.html' %}
{% load bootstrap4 %}
{% block 'content' %}
  <h1>Password Change</h1>
<div class="row">
  <div class="col-sm border-right">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary" value="login">
          Submit
        </button>
      {% endbuttons %}
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
  <div class="col-sm">
    <p>Please enter a name for your new stream configuration. This is only used for identification purposes.</p>
  </div>
</div>
{% endblock %}
