{% extends 'base.html' %}

{% block 'content' %}
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="leader">Nothing to see here yet. We're working on it, though!</p>
    <hr class="my-4">
    <p>Portier will be a pretty cool streaming platform, built by and for nerds. You are welcome to contribute, be it code, ideas, documentation, design or something else entirely.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/chaoswest-tv/portier" role="button">Code on GitHub</a>
  </div>
{% endblock %}
