{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% load font_awesome %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block 'title' %}portier{% endblock %}</title>
    {% bootstrap_css %}
    {% fa_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border boder-bottom-0">
        <span class="navbar-brand mb-0 h1">
          <a href="{% url 'index' %}">portier</a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "navbar_configuration" %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <h6 class="dropdown-header">{% trans "navbar_configuration_streaming_header" %}</h6>
                <a class="dropdown-item" href="{% url 'rtmp:stream_list' %}">{% trans "navbar_configuration_streams" %}</a>
                <a class="dropdown-item" href="{% url 'restream:restreamconfig_list' %}">{% trans "navbar_configuration_restreams" %}</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">{% trans "navbar_configuration_account_header" %}</h6>
                <a class="dropdown-item" href="{% url 'password_change' %}">{% trans "navbar_configuration_password_change" %}</a>
              </div>
            </li>
          {% endif %}
            <li class="nav-item">
          {% if user.is_authenticated %}
              <a class="nav-link logout" href="{% url 'logout' %}?next={% url 'index' %}">{% trans "navbar_logout" %}</a>
          {% else %}
              <a class="nav-link login" href="{% url 'login' %}?next={% url 'index' %}">{% trans "navbar_login" %}</a>
          {% endif %}
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container" roles="main">
    {% block 'content' %}
    {% endblock %}
    </main>
    <footer class="text-muted">
      <div class="container">
      </div>
    </footer>
  </body>
</html>
