{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load fontawesome_5 %}
{% block 'content' %}
<h6>{% trans "confirm_delete_header" %}</h6>
<hr class="my-4">
<div class="row">
  <div class="col-sm border-right">
    <form method="post">
      {% csrf_token %}
      <div class="alert alert-warning" role="alert">
        {% trans "deleting_stream_configuration_will_also_delete_all_depending_confgurations_warning" %}
      </div>
      <p>{% blocktrans with stream_config_name=object.name %}are_you_sure_you_want_to_delete_"{{ stream_config_name }}"?{% endblocktrans %}</p>
      {% buttons %}
        <button type="submit" class="btn btn-danger" value="login">
          {% fa5_icon 'trash' %} {% trans "delete" %}
        </button>
      {% endbuttons %}
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </div>
  <div class="col-sm">
    <h5>{% trans "deleting_configurations_list_header" %}</h5>
    <ul>
      {% for object in to_delete %}
      {% if object.name %}
      <li>
        <strong>{{ object.name }}</strong> - <span>{{ object.class_name }}</span>
      </li>
      {% else %}
      <ul>
        {% for nested_object in object %}
        <li>
          <strong>{{ nested_object.name }}</strong> - <span>{{ nested_object.class_name }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
